/* Общие стили контейнера */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-with-cars {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Карточка автомобиля */
.card {
  display: flex;
  width: 100%;
  border-radius: 0px 0px 0px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Изображение автомобиля */
.car-image {
  width: 30%;
  margin-right: 20px;
}

.card-price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 1%;
}

.car-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

/* Детали автомобиля */
.car-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
}

.car-title:hover {
  color: #ff6633;
}

/* Текстовые детали */
.car-details p {
  margin: 5px 0;
  font-size: 16px;
}

/* Кнопки и селекты */
.add-car-button,
.category {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}



.select-cont {
  margin: 20px 0;
  text-align: center;
}

.but-cont {
  text-align: center;
  margin-top: 30px;
}

/* Адаптивные стили */
@media screen and (max-width: 768px) {
  

  .car-image {
    width: 50%;
  }


  .add-car-button,
  .category {
    width: 90%;
    margin-bottom: 15px;
  }
}


@media screen and (max-width: 550px) {
  .card{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .car-image{
    width: 100%;
  }
  .car-image img {
    border-radius: 0px 0px 0px 0px;
  }
  .car-details{
    padding-top: 2%;
  }
}